<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Dashboard/Hotels">Hotels</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Dashboard/Voyages">Voyages</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Dashboard/Saoirées">Soirées</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Dashboard/Omra">Omra</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Dashboard/Circuits">Circuits</a>

</mat-nav-list>