
  <div >

    <span mat-table  class="mat-elevation-z8"><p><b>Les hotels</b></p></span>

    <table>
        <tr >
            <th>nom </th>
            <th>adultOnly</th>
            <th>ville</th>
            <th>categorie</th> 
           
        </tr>

        <tr  *ngFor="let item of ListHotel;let i =index" >
            <td>{{item.nom}}</td>
            <td>{{item.adultOnly}}</td>
            <td>{{item.ville}}</td>
            <td style="text-align: center;">{{item.categorie}}</td>
            
        </tr>
    </table>

</div>

<div style="margin:5px 0px">
    <ul class="list-group"> 
        <li class="list-group-item">nom</li>
      </ul>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of ListHotel;let i =index">
        
        {{item.nom}}
        
        <button (click)="delete(item.nom)"></button>

      </li>
    </ul>
  </div>