<h2 class="cyan-text d-flex justify-content-center mt-5 font-weight-bold" > {{x.titre}}</h2>

<div class="d-flex flex-row">
    <img src="https://freedomtravel.tn/assets/images/4/17/thailande.jpg" class="cyan-text rounded ml-5 d-block mt-5 img-fluid z-depth-1" alt="Responsive image">
    
    <div class="m-5" style="width: 50%;">
        <select [(ngModel)]="e" class="browser-default custom-select" style="width: 50%;">$
            <option>Choisir votre date</option>
            <option  *ngFor="let item of voyage"  >{{item.datedepart | date:'yyyy/MM/dd'}} vers {{item.dateretour | date:'yyyy/MM/dd'}}</option>
        </select>

        <div class="m-5" *ngFor="let it of voyage | dureeVoyage:e">
            
                    <div class="d-flex " style="width: 60%;" ><mdb-icon  fas icon="plane-departure" style="color: blue;"></mdb-icon>{{it.datedepart | date:'yyyy/MM/dd'}}
                    <hr>
                        <mdb-icon  fas icon="plane-arrival" style="color: blue"></mdb-icon>{{it.datedepart | date:'yyyy/MM/dd'}}</div>
                
            <h5 class="m-3">Tarif Chambre Single : {{it.venteadultesingle}}</h5>
            <h5 class="m-3">Tarif Chambre Double : {{it.venteadultedble}}</h5>
            <h5 class="m-3">Tarif Troisième Adulte : {{it.id}}</h5>

            <button mdbBtn type="button"  rounded="true"  color="orange" rounded="true" data-toggle="modal" data-target="#basicExample"(click)="frame.show()" mdbWavesEffect>Réserver</button>
        
    
           

           
        </div>


    </div>
   
      

</div>

<div class="justify-content-center mb-5" style="margin-left: 10%; margin-right: 10%;margin-top: 5%;" [innerHTML]="x.programme.programme | safeHtml" ></div>
<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">
            <div  class="modal-body mx-3 ">
              <div class=" cyan-text">
                  <div >
                    <div class="modal-header text-center" style="margin: 2%;">
                            <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                    <input type="text" name="name" id="form3" class="form-control form-control-sm" mdbInput>
                    <label for="form3">Your name</label>
                    </div>
                    <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                    <input type="text" name="email" id="form2" class="form-control form-control-sm" mdbInput >
                    <label for="form2">Your email</label>
                    </div>
                    <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                    <input type="text" name="tel" id="for" class="form-control form-control-sm" mdbInput >
                    <label for="for">Telephone</label>
                    </div>

                    <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                    <input value="{{e}}" type="text" id="form32" name="sujet" class="form-control form-control-sm disabled" mdbInput>
                    </div>
                    <div class="md-form form-sm"> 
                            <button mdbBtn type="button"  rounded="true"  color="orange" outline="true" (click)="chambre()" mdbWavesEffect >Confirmer</button>

                    </div>
                    <div  value="nb" class="row" *ngFor="let n of nbChambre;let i = index" id="rowid{{i}}" hidden=true>
                        

                        <h3 class="d-flex" ><i class="fas fa-male  ml-3 mr-3 "></i>

                            <select  class="custom-select" id="homme{{i}}">
                                <option selected>0</option>
                                <option >1</option>
                                <option >2</option>
                            </select>
                        </h3>
                        <h3 class="d-flex" ><i class="fas fa-child ml-3 mr-3" ></i>

                            <select  class="custom-select" id="enfant{{i}}">
                              <option selected>0</option>
                              <option >1</option>
                              <option >2</option>
                            </select></h3>
                            <h3 class="d-flex"><i class="fas fa-child ml-3 mr-3"></i>

                                <select  class="custom-select" id="bebe{{i}}">
                                  <option selected>0</option>
                                  <option >1</option>
                                  <option >2</option>
                                </select>
                            </h3>

                            <h3  class="d-flex" >
                                <i class="fas fa-money-bill-alt ml-3 mr-3"></i>
                                <input type="text" name="email" style="width:100px;"  class=" disabled" id="prix{{i}}" mdbInput >
                            </h3>
                            
                            <button mdbBtn type="button"   color="orange" outline="true" (click)="delchambre(i)"  mdbWavesEffect >-</button>

                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                      <button mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect >Confirmer</button>
                    </div>
                  </div>
              </div>
                    
            </div>
            </div>
  </div>