<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
        <img class="logo navbar-brand" src="assets/logo.png"style="width:60px;height:60px;">
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/home"
          (click)="navFun('home')"
          >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/hotels"
          (click)="navFun('')"
          >Hotels</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/voyage"
          (click)="navFun('')"
          >Voyages</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/soiree" (click)="navFun('')">Soirées
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="/circuit" (click)="navFun('')">Circuits
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"  routerLink="/omra" (click)="navFun('')">Omra
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"routerLink="/contact" (click)="navFun('')">Contact
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
        <!--  <button type="button" class="btn btn-outline-warning btn-rounded waves-effect">Se Connecter</button>-->
        
        <main id="logout-button-holder">
            <button  id="logout-button" class="btn btn-outline-warning btn-rounded waves-effect" size="lg" (click)="openModal()">Se Connecter</button>
            
        </main>
        
    </links>
    
  </mdb-navbar>
  
  <!-- Main -->
  <div class="view intro-2" [style.height.vh]="taille">
    <div class="full-bg-img">
        <div class="container text-center white-text wow fadeInUp">
        </div>
      
    </div>
  </div>
  <!-- /.Main -->

</header>
<div class="txt" *ngIf="taille==(100)">Freedom Travel<br>laissez-nous vous inspirer<br>
  <button class="btn btn-outline-warning btn-rounded waves-effect"> Decouvrir </button>




</div >
<!--Main Navigation-->

<!--Main Layout-->

<!--Main Layout-->