
  .section1{
   background: url("http://www.wa11papers.com/assets/previews/nature-sea-landscape-ocean-sunset-sunrise-wallpaper-1082-preview-0e49f9f0.jpg") no-repeat center center !important;
   /*background: ("assets/navbar.jpg")no-repeat center center;*/
   background-repeat: no-repeat !important;
   background-size: cover !important;
   height: 100vh;
  }


  .vcarrouselContainer{
    width: 100%;
    top:650px;
    position: absolute;
    z-index: 1;
  }

.topDestination{
    width: 100%;
    background-color: #7c677f;
    margin-top: 100%;
}
.topDestination{
    width: 100%;
    background-color: #000033;
}
.vcontainer{
    margin: auto;
    margin-top: 4%;
}

