
<section class="vcarrouselContainer">
<ngb-carousel style=" margin-left:250px">
  <ng-template ngbSlide>
                  <div  class="row" >
                      <div style="width:25%;margin: 2%;" *ngFor="let item of l ; let i = index"  >
                                  <mdb-card *ngIf="i<(3)" >
                                                  
                                                    <!--Card image-->
                                                  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                                                  <!--Card content-->
                                                  <mdb-card-body>
                                                
                                                    <!--Title-->
                                                    <mdb-card-title>
                                                      <h4>{{item.id}}</h4>
                                                    </mdb-card-title>
                                                
                                                    <!--Text-->
                                                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                                                      content.
                                                    </mdb-card-text>
                                                
                                                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                                                  </mdb-card-body>
                                                  
                                                </mdb-card>
                                              </div>
                                                
                  </div>
  </ng-template>
  <ng-template ngbSlide>
                  <div class="row" style="margin: auto;">
                      <div style="width: 25%;margin: 2%;" *ngFor="let item of l.slice(3) ; let i = index"  >
                          <mdb-card *ngIf="i<(3)" >
                                          
                                            <!--Card image-->
                                          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                                          <!--Card content-->
                                          <mdb-card-body>
                                        
                                            <!--Title-->
                                            <mdb-card-title>
                                              <h4>{{item.id}}</h4>
                                            </mdb-card-title>
                                        
                                            <!--Text-->
                                            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                                              content.
                                            </mdb-card-text>
                                        
                                            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                                          </mdb-card-body>
                                          
                                        </mdb-card>
                                      </div>        
                  </div>
  </ng-template>
  <ng-template ngbSlide>
                  <div class="row" style="margin: auto;">
                      <div style="width: 25%;margin: 2%;" *ngFor="let item of l.slice(6) ; let i = index"  >
                          <mdb-card *ngIf=" i<(3) " >
                                          
                                            <!--Card image-->
                                          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
                                          <!--Card content-->
                                          <mdb-card-body>
                                        
                                            <!--Title-->
                                            <mdb-card-title>
                                              <h4>{{item.id}}</h4>
                                            </mdb-card-title>
                                        
                                            <!--Text-->
                                            <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                                              content.
                                            </mdb-card-text>
                                        
                                            <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                                          </mdb-card-body>
                                          
                                        </mdb-card>
                                      </div>
                  </div>
  </ng-template>
</ngb-carousel>

                            </section>

  <div class="topDestination">
<h2 style="position: relative;text-align: center;top:5%;color: azure;font-weight: bold;font-family: 'Times New Roman', Times, serif;">
    TOP DESTINATION

</h2>
<div  class="vcontainer d-flex flex-wrap justify-content-center" >
    <div *ngFor="let item of ListeVoyages; let i = index " style="width: 18rem;margin: 2%;" >

    <div class="card" style="width: 18rem;margin: 2%;" *ngIf="i < (4)" >
            <div *ngFor="let i of item.imageVoyages">
                <img class="card-img-top" src="https://www.freedomtravel.tn/assets/images/4/{{item.id}}/{{i.nom}}" alt="Card image cap">
            </div>
            
            <div *ngFor="let datevoyage of item.departvoyages">
              <h5>{{datevoyage.datedepart}}</h5>
            </div>
            
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{item.titre}}</h5>
              <i *ngFor="let pays of item.pays" class="fa fa-map-marker cyan-text" > {{pays.libelle}}</i><br>
              
                
              <div style=" margin-top: auto;">
                  <button [routerLink]="['/ReservationVoyage', item.id]" mdbBtn type="button" color="warning"  outline="true" mdbWavesEffect>Réserver</button>
              </div>
               
        
            </div>
        </div>
</div>
  </div>