
<div class="row">
        <div style="width: 60%; margin: 2%;" *ngFor="let item of ListeOmra"  >
                        <div class="card mb-3" style=" height:45%; width: 100%;">
                                        <div class="row no-gutters">
                                          <div class="col-md-4">
                                            <img src="http://freedomtravel.tn/assets/images/omra1.jpg" style="height:50%" class="card-img" alt="...">
                                          </div>

                                          <div class="col-md-8">
                                            <div class="card-body">
                                              <h3 class="card-title cyan-text font-weight-bold">{{item.titre}}</h3>
                                              <h5 class="card-title">{{item.date | date:'longDate'}}</h5>
                                              <h5 class="card-title orange-text  font-weight-bold">{{item.prix}}</h5>
                                              
                                              <button type="button" mdbBtn color="cyan" rounded="true" data-toggle="modal" data-target="#basicExample"(click)="frame.show()" mdbWavesEffect>Voir programme</button>

                                                <div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">

                                                

                                                        <div  class="modal-body mx-3 ">
                                                                <div class="d-flex  justify-content-center cyan-text">
                                                                        <div style="width: 40%;" >
                                                                                <div class="modal-header text-center" style="margin: 2%;">
                                                                                        <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
                                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                </div>
                                                                        <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                                                                        <input type="text" name="name" id="form3" class="form-control form-control-sm" mdbInput>
                                                                        <label for="form3">Your name</label>
                                                                        </div>
                                                                        <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                                                                        <input type="text" name="email" id="form2" class="form-control form-control-sm" mdbInput >
                                                                        <label for="form2">Your email</label>
                                                                        </div>
                                                                        <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                                                                        <input type="text" name="tel" id="for" class="form-control form-control-sm" mdbInput >
                                                                        <label for="for">Telephone</label>
                                                                        </div>
                                                                        <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                                                                        <input type="text" id="form32" name="sujet" class="form-control form-control-sm" mdbInput>
                                                                        <label for="form34">Subject</label>
                                                                        </div>
                                                                        <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
                                                                        <textarea type="text" name="message" id="form8" class="md-textarea form-control form-control-sm" rows="4" mdbInput ></textarea>
                                                                        <label for="form8">Your message</label>
                                                                        <div class="modal-footer d-flex justify-content-center">
                                                                                        <button mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect >Confirmer</button>
                                                                                </div>
                                                                </div>
                                                                        </div >
                                                                        <div style="width: 70%;overflow:scroll;height:600px;margin:2%;color: black;" [innerHTML]="item.programme | safeHtml"></div> </div>    
                
                                                                </div>
                                                                
                                                                </div>
                                                        </div>
                                                       
                                                                
                                                        
                                                </div>


                                                
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                
        </div>
                <div class="card" style="margin: 2%; width: 30%;" >
                        <ngb-tabset style="margin: 2%;" type="pills" justify="end">
                                <ngb-tab title="الوثائق المطلوبة للتسجيل">
                                        <ng-template ngbTabContent>
                                        <h5 style="margin: 5%; text-align: right;">التأكّد من اختيار صنف السّكن حيث يكون نهائيّا و لا يمكن تغييره بعد التّسجيل</h5>
                
                                        <h5 style="margin: 5%; text-align: right;">جواز سفر صلاحيته أكثر من ثمانية أشهر ابتداء من تاريخ السّفر</h5>
                                
                                        <h5 style="margin: 5%; text-align: right;">3 صور شمسية خلفية بيضاء</h5>
                                
                                        <h5 style="margin: 5%; text-align: right;">مرافقة بمحرم شرعي بالنسبة للسّيدات سنهن دون 45 سنة</h5>
                                
                                        <h5 style="margin: 5%; text-align: right;">دفتر تلقيح ضد الحمى الشوكية معهد باستور لم يمض عليه 3 سنوات</h5>
                                
                                        <h5 style="margin: 5%; text-align: right;">ترخيص الزوج معرف بإمضاء بالنّسبة للسّيدات المتزوجات المسافرات بمفردهن</h5>
                                
                                        <h5 style="margin: 5%; text-align: right;">نسخة من بطاقة التعريف الوطنية</h5>

                                        </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                        <ng-template ngbTabTitle> السعر يشمل</ng-template>
                                        <ng-template ngbTabContent>
                        
                                                <h5 style="margin: 5%; text-align: right;">الحصول على التأشيرة عن طريق الوكالة</h5>
                                        
                                                <h5 style="margin: 5%; text-align: right;">تذكرة الطائرة تونس جدة ، جدة تونس على متن الخطوط التونسية</h5>
                                        
                                                <h5 style="margin: 5%; text-align: right;">التنقل من المطار إلى النزل بالمدينة المنورة</h5>
                                        
                                                <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بالمدينة المنورة في نزل رويال المكارم 4* الّذي يقع في المنطقة المركزية على بعد 150 مترا</h5>
                                        
                                                <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن حافلات مكيفة و حديثة</h5>
                                        
                                                <h5 style="margin: 5%; text-align: right;">الإقامة 07 ليالي بمكة المكرمة في نزل دار الإيمان جراند 5* الّذي يقع في شارع ابراهيم الخليل على بعد 600 مترا من الحرم المكي</h5>

                                                <h5 style="margin: 5%; text-align: right;">التنقل من مكة المكرمة إلى المطار</h5>
                                                
                                                <h5 style="margin: 5%; text-align: right;">التنقل من المدينة المنورة إلى مكة المكرمة على متن الحافلة</h5>
                                                

                                        </ng-template>
                                </ngb-tab>
                                
                                </ngb-tabset>
                                                
                </div>

</div>
