<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div *ngFor="let item of ListeHotels "> 
    <div  *ngIf="item.id === id" class="divContainer">
   
<div class="col-xs-12">
  <div style="width: 100%;text-align: center;background-color: transparent;margin-left: 2%;margin-top: 2%;height: 100%;" >
    <h2 >{{item.nom}} <div *ngIf="item.categorie==='1'">
      <span [fa fa-star checked]="item.categorie==='1'"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star"></span>
  </div>
  <div *ngIf="item.categorie==='2'">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star"></span>
  </div>
  <div *ngIf="item.categorie==='3'">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star"></span>
  </div>
  <div *ngIf="item.categorie==='4'" >
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
  </div>
  <div *ngIf="item.categorie==='5'">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
  </div></h2>
  <ngb-carousel #ngcarousel>
    <div *ngFor="let item2 of Listimg "> 
    <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
        <img src="https://www.freedomtravel.tn/{{item2.href}}" alt="Slide 1">
      </div>
    </ng-template>
    </div>
  </ngb-carousel>
  <div class="detail">
   
    <p>
      {{item.type}}
     </p>


</div>
    </div>
    
  
  <div class="formReservation">
      <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
        <input type="text" name="Nom" id="form3" class="form-control form-control-sm" mdbInput [(ngModel)]="ReservationHotel.Nom">
        <label for="form3">Your name</label>
      </div>
      <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
        <input type="text" name="Email" id="form2" class="form-control form-control-sm" mdbInput [(ngModel)]="ReservationHotel.Email">
        <label for="form2">Your email</label>
      </div>
      <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
        <input type="text" name="Date" id="for" class="form-control form-control-sm" mdbInput [(ngModel)]="ReservationHotel.Date">
        <label for="for">Telephone</label>
      </div>
      <div class="md-form .form-control-sm"> <i class="fas fa-calendar-alt" ></i>
          <ejs-daterangepicker style="width: 100%; margin-top: 5%;"></ejs-daterangepicker>`
        </div>

       

      <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
        <textarea type="text" name="message" id="form8" class="md-textarea form-control form-control-sm" rows="4" mdbInput ></textarea>
        <label for="form8">Your message</label>
      </div>
      <div class="md-form .form-control-sm">
      <i class="fas fa-male"></i>

          <i class="fas fa-female"></i>


          <input type="number" step="1" value="0" min="0" max="5" name="numb" id="for1" class="form-control form-control-sm" mdbInput >
          <label for="for">nombre de chambre</label>

      </div>
      <div class="md-form form-sm" *ngIf="nbP!=0">
       <div class="perso">
        <div class="md-form form-sm">
          <i class="fas fa-male"></i>

        <select [(ngModel)]= "nbAdult" (click)="verif()" class="browser-default custom-select">
          <option *ngFor="let item of listAdult"  >{{item}}</option>
          
      </select>
        </div>
        <div class="md-form form-sm">
          <i class="fas fa-male"></i>

      <select [(ngModel)]= "nbEnfant"  (click)="verif()" class="browser-default custom-select">
        <option selected>0</option>

        <option *ngFor="let item2 of listEnf"  >{{item2}}</option>
        
    </select>
    </div>
    <div class="md-form form-sm">
      <i class="fas fa-child"></i>


  <select  class="browser-default custom-select">
    <option selected>0</option>
    <option >1</option>
    <option >2</option>

    
</select>
</div>
       </div>
  
        </div>
  
      <div class="text-center mt-4">
          <button mdbBtn type="button" color="warning" outline="true" mdbWavesEffect (click)= AjouterReservation() >Envoyer</button>
      </div>
    
  </div>
</div>

</div>