<div class="d-flex flex-wrap justify-content-center">
<div class="card" style="width: 25rem;margin: 2%;"*ngFor="let item of ListeVoyages">
    
  <div *ngFor="let i of item.imageVoyages">
        <img class="card-img-top" src="https://www.freedomtravel.tn/assets/images/4/{{item.id}}/{{i.nom}}" alt="Card image cap">
    </div>

    <div class="card-body d-flex flex-column">
    <h5 class="card-title orange-text font-weight-bold">{{item.titre}}</h5>
    <i *ngFor="let pays of item.pays" class="fa fa-map-marker cyan-text mt-3" > {{pays.libelle}}</i><br>
        
    
    <div  *ngFor="let datevoyage of item.departvoyages; let isFirst = first">
      <h5 *ngIf="isFirst"><mdb-icon  fas icon="plane-departure" style="margin-right: 2%;color: blue;"></mdb-icon>{{datevoyage.datedepart | date:'longDate'}}</h5>
      <h5 style="text-align: right;" *ngIf="isFirst"><mdb-icon fas icon="plane-arrival" style="margin-right: 2%;color: blue;"></mdb-icon>{{ datevoyage.dateretour | date:'longDate'}}</h5>
    </div>
    
    
        
      <div style=" margin-top: auto;">
          <a [routerLink]="['/ReservationVoyage', item.id]"  style="color: orangered;"  >Voir d'autres départs</a>
      </div>
       

    </div>

  </div>
</div>