<h4 style="text-align: center; margin-top: 5%;margin-bottom: 10%; font-weight: bold;;">Sign in</h4>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form action="">
                <mat-form-field>
                  <input [(ngModel)]="log.username" matInput placeholder="Email" required name="email" ngModel #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input [(ngModel)]="log.password" matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel #password="ngModel">
                  <mat-error *ngIf="password.errors && password.errors.required"> Password is required </mat-error>
                  <mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6 </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button style="margin-top: 10%;" mat-raised-button color="primary" class="login-button" (click)="login()"> Se connecter</button>
              </form>
            </mat-card-content>
        </mat-tab>
        
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form action="">

              <mat-form-field>
                <input matInput placeholder="User Name" required name="username" ngModel #username="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="username.invalid">Username is required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Email" required name="email" ngModel #email="ngModel">
                <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel #password="ngModel">
                <mat-error *ngIf="password.errors && password.errors.required"> Password is required</mat-error>
                <mat-error *ngIf="password.errors && password.errors.minlength"> Password must be of length 6 </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Password" type="password" required minlength="6" name="repassword" ngModel #repassword="ngModel">
                <mat-error *ngIf="repassword.errors && repassword.errors.required"> Re-Enter Password is required </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <button mat-raised-button color="primary" class="login-button"> Sign Up </button>

            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
  