<div style="width: 60%; margin: 2%;" *ngFor="let item of ListeSoirees"  >
        <div class="card mb-3" style=" height:45%; width: 100%;">
                <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="http://freedomtravel.tn/assets/images/omra1.jpg" style="height:50%" class="card-img" alt="...">
                        </div>

                        <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{item.titre}}</h5>
                        <div *ngFor="let i of item.departsoirees">
                                <p>{{i.date | date:'mediumDate'}}</p>
                                <h5 class="card-title">{{i.venteadultesingle}}</h5>
                                <h5 class="card-title"></h5>
                                
                        </div>
                       

                        <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"(click)="frame.show()" mdbWavesEffect>Réserver</button>

                        <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">

                        <div class="modal-header text-center">
                                <h4 class="modal-title w-100 orange-text font-weight-bold"> Informations de séjour </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>

                        <div class="modal-body mx-3 cyan-text">
                                <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                                <input type="text" name="name" id="form3" class="form-control form-control-sm" mdbInput>
                                <label for="form3">Your name</label>
                                </div>
                                <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                                <input type="text" name="email" id="form2" class="form-control form-control-sm" mdbInput >
                                <label for="form2">Your email</label>
                                </div>
                                <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix" ></i>
                                <input type="text" name="tel" id="for" class="form-control form-control-sm" mdbInput >
                                <label for="for">Telephone</label>
                                </div>
                                <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                                <input type="text" id="form32" name="sujet" class="form-control form-control-sm" mdbInput>
                                <label for="form34">Subject</label>
                                </div>
                                <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
                                <textarea type="text" name="message" id="form8" class="md-textarea form-control form-control-sm" rows="4" mdbInput ></textarea>
                                <label for="form8">Your message</label>
                                </div>     

                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                                <button mdbBtn type="button"  rounded="true"  color="orange" outline="true" mdbWavesEffect >Confirmer</button>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        </div>
                        </div>
                      </div></div>
                      


                      