.view {
    background: url("https://www.avenue14.net/wp-content/uploads/2019/10/tunisie.jpg")no-repeat center center;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-size: cover;
    height: 50vh;
}

.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: rgb(0,0, 255, 0.5);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.vcarrouselContainer{
    width: 100%;
    top: -100;
    position: relative;
    z-index: 1;
  }
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FreedomTravel-primary: mat-palette($mat-indigo);
$FreedomTravel-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FreedomTravel-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$FreedomTravel-theme: mat-light-theme($FreedomTravel-primary, $FreedomTravel-accent, $FreedomTravel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($FreedomTravel-theme);

